.payment-page {
  padding: 1rem;
}
.order-summary {
  margin-bottom: 1rem;
}

.order-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e91e63;
}

.order-item span {
  color: #e91e63;
}

.total {
  text-align: right;
  color: #e91e63;
  font-weight: bold;
}

.locker-summary {
  border: 1px solid #e91e63;
  background-color: #ffecf2;
  padding: 1rem;
  border-radius: 4px;
}
.back-btn-wrapper {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.back-btn {
  background-color: #ffecf2;
  color: #e91e63;
  border: 1px solid #e91e63;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
}

.back-btn:hover {
  color: #a3165f;
}